h4 {
    font-style: normal;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 28px !important;
    display: flex;
    align-items: center;
    letter-spacing: 0.17em !important;
    margin-bottom: -7px !important;
}

p {
  margin-top: 7px;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.17em;
  text-align: left;
}

label {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex !important;
  align-items: center;
  letter-spacing: 0.2em;
}
input.form-box.form-control {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 25px;
  line-height: 14px;
  height: 60px;
  letter-spacing: 0.05rem;
  height: 45px;
}
.my-card {
  width: 573px;
  left: 289px;
  top: 229px;
  padding: 10px 32px 2px;
  text-align: initial;
}
input.col-5.float-left.form-box.form-control, input.col-5.float-right.form-box.form-control {
  flex: 0 0 auto;
  width: 239px;
  margin-left: 14px;
}

input.col-1.form-box.form-control {
  width: 9%;
  border-radius: 30px;
  margin: 10px;
  height: 45px;
}
.my-card.my-card2 button.continue-btn.btn.btn-secondary {
  margin-top: 5px;
  margin-bottom: 20px;
}

img.emot-img {
  width: 251px;
  height: 251px;
  margin: auto;
  margin-top: 20px;
}

.form-one.mt-4.card.step5-card {
  background-color: transparent;
  border-color: transparent;
}

button.btn.btn-primary.step5-btn {
    height: 47px;
    width: 435px;
    border-radius: 40px;
    background: rgba(166, 227, 233, 1);
    border-color: transparent;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: LuloCleanW01-One;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 46px;
}
.validate-box-1.card {
  width: 207px;
  height: 226px;
  left: 0;
  padding: 12px;
  font-size: 12px;
  top: 207px;
  background: #FFFFFF;
  border-radius: 47px;
  margin: auto;
  text-align: left;
}

img.tk-img {
  margin: 11px;
}

.boxed label {
  width: 47px;
  height: 47px;
  padding: 10px;
  transition: all 0.3s;
  border: 1px solid !important;
  border-radius: 40px;
  font-family: 'Sanseriffic';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.17rem;
  margin: 13px;
}

.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  border: transparent !important;
  background: #A6E3E9;
}

form.boxed {
  display: flex;
} 



